#logo {
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#filter {
    align-self: flex-start;
    margin: 40px;
    width: 40px;
    height: 40px;
}

#HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}